<div class="ladytop">
    <div class="nav">
        <div class="left"><a href="/jiehun/"><img src="__PUBLIC__/images/hunshang.png" alt="wed114婚尚"></a></div>
        <div class="right">
            <div class="box">
                <a href="{:url('index/index')}"  rel='dropmenu209'>首页</a>
                {volist name="cateList" id="vo"}
                <a href="{:url('category/index',array('cateid'=>$vo['id']))}"  rel='dropmenu209'>{$vo.categoryname}</a>
                {/volist}
            </div>
       </div>
   </div>
</div>

<div class="hotmenu">
    <div class="con">热门标签：
        {volist name="tagList" id="vo"}
        <a href='http://127.0.0.1/tp5_1/public/index.php/index/search/index?keywords={$vo.tagname}'>{$vo.tagname}</a>
        {/volist}
    </div>
</div>